{% extends 'base.html' %}
{% comment %} headers {% endcomment %}
{% block styles %}{% endblock %}

{% comment %} body {% endcomment %}
{% comment %} navbar {% endcomment %}
{% block aspirantes %} active {% endblock %}

{% comment %} contenido de pag {% endcomment %}
{% block content %}

{% comment %} <div class="jumbotron" style="padding: 40px;">
    <h1 class="text-center">Aspirantes</h1>
</div> {% endcomment %}
<div class="jumbotron">
    <ul class="list-group card">
        <h4>Carpeta a presentar para Pre-inscripción</h4>
        <li class="list-group-item color-card">
            <p class="font-size-parrafo">Fotocopia DNI actualizado ambos lados</p>
        </li>
        <li class="list-group-item color-card">
            <p class="font-size-parrafo">Certificado Psicofísico</p>
        </li>
        <li class="list-group-item color-card">
            <p class="font-size-parrafo">Certificado domicilio</p>
        </li>
        <li class="list-group-item color-card">
            <p class="font-size-parrafo">Certificado buena conducta</p>
        </li>
        <li class="list-group-item color-card">
            <p class="font-size-parrafo">Fotocopia del titulo nivel primario y/o niveles superiores</p>
        </li>
        <li class="list-group-item color-card">
            <p class="font-size-parrafo">Fotocopia de carnet de conducir (opcional)</p>
        </li>
        <li class="list-group-item color-card">
            <p class="font-size-parrafo">Cualquier otro dato que estime de interés adjuntar a la carpeta y
            presentar al cuartel.</p>
        </li>
    </ul>
</div>


{% endblock %}