{% extends 'base.html' %}
{% comment %} headers {% endcomment %}
{% block styles %}{% endblock %}

{% comment %} body {% endcomment %}
{% comment %} navbar {% endcomment %}
{% block donacion %} active {% endblock %}

{% comment %} contenido de pag {% endcomment %}
{% block content %}

<div class="jumbotron" style="padding: 40px;">
    <h1>DONAR</h1>
</div>
<div class="jumbotron card">
    <h2>Elementos necesarios</h2>
    <ul class="list-group">
        <li class="list-group-item">
            Nafta
        </li>
        <li class="list-group-item">
            casco
        </li>
        <li class="list-group-item">
            mas items
        </li>
        <li class="list-group-item">
            mas items
        </li>
        <li class="list-group-item">
            mas items
        </li>
        <li class="list-group-item">
            mas items
        </li>
        <li class="list-group-item">
            mas items
        </li>
    </ul>
</div>


{% endblock %}