{% extends 'base.html' %}
{% comment %} headers {% endcomment %}
{% block styles %}{% endblock %}

{% comment %} body {% endcomment %}
{% comment %} navbar {% endcomment %}
{% block donacion %} active {% endblock %}

{% comment %} contenido de pag {% endcomment %}
{% block content %}

{% comment %} <div class="jumbotron" style="padding: 40px;">
    <h1 class="text-center">DONAR</h1>
</div> {% endcomment %}
<div class="jumbotron ">
    <h2>Elementos necesarios</h2>
    <ul class="list-group card">
        <li class="list-group-item color-card">
            Nafta
        </li>
        <li class="list-group-item color-card">
            casco
        </li>
        <li class="list-group-item color-card">
            mas items
        </li>
        <li class="list-group-item color-card">
            mas items
        </li>
        <li class="list-group-item color-card">
            mas items
        </li>
        <li class="list-group-item color-card">
            mas items
        </li>
        <li class="list-group-item color-card">
            mas items
        </li>
    </ul>
</div>


{% endblock %}