{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% comment %} headers {% endcomment %}
{% block styles %}
<link rel="stylesheet" href="{% static 'styles/forms.css' %}">
{% endblock %}
{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'admin:index' %}">{% translate 'Home' %}</a>
&rsaquo; {% translate 'Password reset' %}
</div>
{% endblock %}

{% block content %}

<p>{% translate "Tu contraseña ha sido reestablecida, ingresa nuevamente." %}</p>

<p><a class="btn btn-dark" href="{% url 'blog:login' %}">Ingresar</a></p>

{% endblock %}
