{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% comment %} headers {% endcomment %}
{% block styles %}
<link rel="stylesheet" href="{% static 'styles/forms.css' %}">
{% endblock %}


{% block content %}

<p>{% translate 'Reestablecimiento de contraseña' %}</p>

<p>{% translate 'Te enviamos un email con instrucciones para recuperar la contraseña, si existe una cuenta con ese email, recibiras uno en breve.' %}</p>

<p>{% translate 'Si no recibiste un email, por favor asegurate de que el email ingresado es con el que te registraste, en caso de serlo, revisa la casilla de SPAM.' %}</p>

{% endblock %}
