{% extends "base.html" %}
{% load i18n static %}
{% load static %}
{% comment %} headers {% endcomment %}
{% block styles %}
<link rel="stylesheet" href="{% static 'styles/forms.css' %}">
{% endblock %}
{% block content %}

{% if validlink %}


<div class="card-form-reestablecer">
<p>Por favor ingrese su nueva contraseña dos veces para que podamos verificar que se ha escrito correctamente.</p>
    <div class="card">
<form method="post">{% csrf_token %}
{% comment %} <fieldset class="module aligned"> {% endcomment %}
    <input class="hidden" type="hidden" autocomplete="username" value="{{ form.user.get_username }}">
    <div class="form-row field-password1 mb-3">
        {{ form.new_password1.errors }}
        <label class="form-label" for="id_new_password1">{% translate 'New password:' %}</label>
        <input type="password" class="form-control" name="{{form.new_password1.html_name}}" autocomplete="new-password"  id="{{form.new_password1.id_for_label}}" >
    </div>
    <div class="form-row field-password2 mb-3">
        {{ form.new_password2.errors }}
        <label class="form-label" for="id_new_password2">{% translate 'Confirm password:' %}</label>
        <input type="password" class="form-control" name="{{form.new_password2.html_name}}" autocomplete="new-password"  id="{{form.new_password2.id_for_label}}" >
    </div>
    <div class="d-grid gap-2 mx-auto">
        <input type="submit" class="btn btn-dark" value="Reestablecer contraseña">
    </div>   
{% comment %} </fieldset> {% endcomment %}
</form>
  </div>
</div>


{% else %}

<p>El link para cambiar la contraseña es invalido, posiblemente porque ya se ha usado.  Por favor haga un nuevo requerimiento.</p>

{% endif %}

{% endblock %}
