:root{
  --bg-navbar: #f1f1f1;
  --bg-button:#4c4c4d;
  --border-button:#4b4b4b;
  --bg-page: #fcfcfc;
}

body{
  background: var(--bg-page);
}

.navbar {
  background-color: var(--bg-navbar);
  padding: 20px;
  padding-bottom: 10px;
}
.navbar .logo {
  width: 60px;
  height: 60px;
}

.navbar .nav-item .nav-link{
  font-size:1.1rem;
}

.banner{
  height: 300px;
  object-fit: cover;
  width: 100%;
}

.card{
  margin: 24px;
}

.list-group .active{
  background-color:var(--bg-button);
  border-color: var(--border-button);
}

.jumbotron {
  padding: 40px;
}

.card-bombero{
  width:18rem;
}

/* .spinner-border{
  color define color de spin 
} */