{% extends 'base.html' %}
{% load static %}
{% comment %} headers {% endcomment %}
{% block styles %}{% endblock %}

{% comment %} body {% endcomment %}
{% comment %} navbar {% endcomment %}
{% comment %} contenido de pag {% endcomment %}
{% block banner %}    
{% endblock banner %}
{% block content %}

<div class="d-grid gap-2 col-6 mx-auto">
    <button class="btn btn-outline-dark" type="button"><a href="{% url 'blog:agregar_evento'%}">Agregar evento</a></button>    
</div>

{% if eventos %}
  {% for evento in eventos %}
    <div class="card text-bg-secondary mb-3" >
        <div class="row g-0">
            {% comment %} <div class="col-md-6">
                <img src="{{p.imagen.url}}" class="img-fluid rounded-start" alt="imagen-post">
            </div> {% endcomment %}
            <div class="col">
                <div class="card-body">
                    <h5 class="card-title">{{evento.titulo}}</h5>
                    <p class="card-text">{{evento.descripcion}}</p>
                    <p class="card-text"><small class="text-muted-custom">{{evento.fecha_creacion}}</small></p>
                </div>
            </div>
        </div>
        <div class="row g-0">
            <div class='col'>
                <div class="btn-group" role="group" aria-label="Basic outlined example">
                    <button type="button" class="btn btn-outline-dark"><a href="{% url 'blog:actualizar_evento' evento.id %}">Editar</a></button>
                    <button type="button" class="btn btn-outline-dark"><a href="{% url 'blog:eliminar_evento' evento.id %}">Eliminar</a></button>
                </div>
              </div>
        </div>
    </div>
  {% endfor %}
{% else %}
  <h1>No hay eventos creadas</h1>
{% endif %}

{% endblock content %}